<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/DTD/mybatis-mapper-3.dtd">
<mapper namespace="com.smbms.bill.dao.BillMapper">
	<select id="selByNameId" parameterType="bill" resultType="bill">
		select b.*, p.proName
		from smbms_bill b,smbms_provider p
		where b.productName like CONCAT("%",#{productName},"%") AND b.providerId=#{providerId} AND b.providerId=p.id AND b.isPayment=#{isPayment};
	</select>
	<resultMap type="bill" id="Billprov">
		<id property="id" column="id"/>
		<result property="billCode" column="billCode"/>
		<result property="productName" column="productName"/>
		<result property="totalPrice" column="totalPrice"/>
		<result property="isPayment" column="isPayment"/>
		<result property="creationDate" column="creationDate"/>
		<association property="prov" javaType="provider" resultMap="prov"/>
	</resultMap>
	<resultMap type="provider" id="prov">
		<id property="id" column="pid"/>
			<result property="proCode" column="proCode"/>
			<result property="proName" column="proName"/>
			<result property="proContact" column="proContact"/>
			<result property="proPhone" column="proPhone"/>
	</resultMap>
	<select id="selByLike" resultMap="Billprov">
		select b.*, p.id pid,p.proCode,p.proName,p.proContact,p.proPhone
		from smbms_bill b,smbms_provider p
		where
			b.providerId=p.id
			<if test="productName!=null and productName!=''">
				AND b.productName like CONCAT("%",#{productName},"%")
			</if>
			<if test="providerId!=null">
				AND b.providerId=#{providerId}
			</if>
			<if test="isPay!=null">
				AND b.isPayment=#{isPay}
			</if>
	</select>
	<select id="selByCodeProvIds" resultMap="Billprov">
		select b.*, p.id pid,p.proCode,p.proName,p.proContact,p.proPhone
		from smbms_bill b,smbms_provider p
		where
			b.providerId=p.id
			<if test="billCode!=null and billCode!=''">
				AND b.billCode like CONCAT("%",#{billCode},"%")
			</if>
			AND	b.providerId in 
			<foreach collection="idList" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
		order by creationDate DESC
		limit #{currentNo},#{page}
	</select>
</mapper>